@using Microsoft.AspNet.Identity
@model StudyLab.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div id="page_name" class="btn-primary pageName pageSettings">Account Settings</div>
   
<div class="jumbotron jumbotron-settings">
    
    <div>
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
           
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            <dt>Two Factor Auth:</dt>
            <dd>
                
                [Not implemented]
                
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </dd>
            <dt>
                Profile Avatar:
            </dt>
            <dd>
                
                <div class="btn btn-default btn-sm btn-file">
                    <div class="bigAvatar">
                        <div class="bigImage"></div>
                    </div>  
                    <input accept=".jpg, .png" name="myFile" class="upload" type="file"/>
                </div>

                @*<div id="default_container">
                    <div class="default default0"></div>
                    <div class="default default1"></div>
                    <div class="default default2"></div>
                </div>*@

</dd>
            <dd>
                
                <button class="btn btn-primary uploadbtn" style="margin-top: 10px;">Upload</button>

            </dd>
        </dl>

    </div>
</div>

