 @using StudyLab.Models

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @* ReSharper disable once UnknownCssClass *@
            <div class="navbar-logo"></div>
            @Html.ActionLink("StudyLab", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Javascript", "Index", "JavaScript")</li>
                <li>@Html.ActionLink("MVC", "Index", "Mvc")</li>
                <li>@Html.ActionLink("ReactJS", "Index", "React")</li>
                <li>@Html.ActionLink("WebAPI", "Index", "WebApi")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>


